.first-main-menu {
  overflow: auto!important;
  overflow-x: hidden !important;
  height: 100vh!important;
}

.main-leftsidebar-div .nav-link {
  border-radius: 0;
  padding: 0.2rem 0 !important;
}

[data-component='leftsidebar'] .leftsidebar {
  position: fixed;
  z-index: 999;
}

[data-component='leftsidebar'] .first-menu {
  position: fixed;
  background-color: #ffffff;
  height: 100vw;
  width: 62px;
  top: 49px !important;
  padding-top: 0.5rem;
  padding-left: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  list-style-type: none !important;
  border-color: white;
  border-right: 1px solid #e3e6f0;
  box-shadow: none;
  overflow: hidden;
  transition: none !important;
}

[data-component='leftsidebar'] .first-menu li {
  list-style: none !important;
  list-style-type: none !important;
  margin: 0 !important;
}

[data-component='leftsidebar'] .first-menu a {
  color: #041e42;
  display: block;
}

[data-component='leftsidebar'] .first-menu i {
  font-size: 24px;
  width: 62px;
  min-width: 62px;
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}

[data-component='leftsidebar'] .first-menu span {
  font-size: 15px;
  font-family: 'Nunito Sans';
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: none !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

[data-component='leftsidebar'] .first-menu:hover span {
  opacity: 1;
  visibility: visible;
  display: initial;
}

[data-component='leftsidebar'] .first-menu .list-group-item {
  border-radius: 0;
  white-space: nowrap;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

[data-component='leftsidebar'] .first-menu li:hover {
  background-color: rgba(7,7,7,0.06);
  border-right: 5px solid rgb(255,199,44);
}

[data-component='leftsidebar'] .first-menu:hover {
  width: 220px;
}

[data-component='leftsidebar'] .list-group-item {
  font-size: 15px;
}

[data-component='leftsidebar'] .submenu {
  position: fixed;
  left: 220px;
  width: 220px;
  margin-top: -42px;
  background-color: white;
  border: 1px solid #e3e6f0;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
  line-height: normal!important;
  transition: none !important;
}

[data-component='leftsidebar'] .submenu a {
  color: black !important;
}

[data-component='leftsidebar'] .submenu li:hover {
  border-left: none;
  border-right: 5px solid rgb(133,135,150);
}

[data-component='leftsidebar'] .first-menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

[data-component='leftsidebar'] .sub-submenu {
  position: fixed;
  background-color: white;
  left: 440px;
  margin-top: -38px;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  transition: none !important;
  border: 1px solid #e3e6f0;
  box-shadow: none;
}

[data-component='leftsidebar'] .sub-submenu a {
  color: black !important;
}

[data-component='leftsidebar'] .sub-submenu .list-group-item:hover {
  background-color: rgba(7,7,7,0.06);
  border-right: 5px solid rgb(133,135,150);
}

[data-component='leftsidebar'] .submenu li:hover .sub-submenu {
  visibility: visible;
  opacity: 1;
}

[data-component='leftsidebar'] .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
}
